# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# abseil-cpp~=20210324.1~=h0e60522_0
# abseil-cpp~=20210324.1
altair~=4.1.0
appdirs~=1.4.4
argh~=0.26.2
base58~=2.1.0
beautifulsoup4~=4.9.3
bs4~=0.0.1
cachetools~=4.2.2
certifi~=2020.12.5
comtypes~=1.1.7
fake-useragent~=0.1.11
gitdb~=4.0.7
gitpython~=3.1.14
importlib-metadata~=3.10.0
lxml~=4.6.3
matplotlib-inline~=0.1.2
mock~=4.0.2
nltk~=3.5
numpy~=1.20.2
pandas~=1.2.4
parse~=1.19.0
pathlib~=1.0.1
pillow~=8.2.0
pip~=21.0.1
python-docx~=0.8.11
rake-nltk~=1.0.4
regex~=2021.4.4
requests~=2.25.1
requests-html~=0.10.0
selenium~=3.141.0
setuptools~=52.0.0
streamlit~=0.81.1
summa~=1.2.0
trafilatura~=0.8.2
unicodecsv~=0.14.1
urllib3~=1.26.4
webdriver-manager~=3.4.2
wheel~=0.36.2
